div(ng-controller='generalCtrl')
  h2 General wall
  div(ng-repeat='post in posts')
    hr
    div
      span.text-muted {{post.updatedAt | date:"dd/MM/yyyy 'at' HH:mm:ss"}} by
      span.text-primary {{post.owner}}
    p {{post.text}}

